.err-ditail{
    margin-top: 150px;
    height: 600px;
    text-align: center;
}
.err-ditail .title{
    display: flex;
    width: fit-content;
    margin: 0 auto;
}
.err-ditail .title h2{
    font-size: 30px;
}
.err-ditail .title i{
    font-size: 30px;
    margin: auto 0;
    margin-right: 20px;
}
.err-ditail p{
    margin-bottom: 50px;
}
.err-ditail .button{
    width: 200px;
    background-color: var(--base-color);
    height: 50px;
    color: var(--background-color);
    padding: 13px 40px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 50px;
    margin-top: 50px;
    margin: 0 auto;
}