                    <li class="news-item">
                        <a class="news-item-link" href="./{{SLUG}}/">
                            <span class="news-date">{{DATE_DISPLAY}}</span>
                            <span class="news-tag">{{TAG}}</span>
                            <span class="news-item-title">{{TITLE}}</span>
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                        <p class="news-item-desc">{{LIST_DESC}}</p>
                    </li>
